.tabs {
    .tabs-nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        border-bottom: 1px solid $tabs-border-border-bottom;

        &.tabs-line {
            .tabs-nav-item {
                display: block;
                padding: $tabs-item-padding-y $tabs-item-padding-x;
                cursor: pointer;

                &.is-active {
                    border-bottom: 2px solid $tabs-border-active-border-bottom;
                }

                &.is-disabled {
                    color: $tabs-item-disabled-color;
                    pointer-events: none;
                    cursor: default;
                    background-color: transparent;
                    border-color: transparent;
                }
            }
        }

        &.tabs-card {
            .tabs-nav-item {
                display: block;
                padding: $tabs-item-padding-y $tabs-item-padding-x;
                cursor: pointer;

                border: 1px solid transparent;
                margin-bottom: -1px;

                &.is-active {
                    border-top-left-radius: 0.25rem;
                    border-top-right-radius: 0.25rem;
                    background-color: $menu-item-card-background;
                    border-color: $tabs-border-border-bottom $tabs-border-border-bottom $menu-item-card-background;
                }

                &.is-disabled {
                    color: $tabs-item-disabled-color;
                    pointer-events: none;
                    cursor: default;
                    background-color: transparent;
                    border-color: transparent;
                }
            }
        }

    }

    .tabs-content {
        margin-top: 1rem;
    }
}