.select {
    position: relative;

    .icon-wrapper {
        transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
    }

    &.is-open {
        .icon-wrapper {
            transform: rotate(180deg);
        }
    }

    input[readonly] {
        background-color: #fff;
        border-color: $select-input-border;
        cursor: pointer;
        opacity: 1;
    }

    .select-dropdown {

        list-style: none;
        padding-left: 0;
        white-space: nowrap;
        position: absolute;
        background: #fff;
        z-index: 100;
        top: calc(100% + 8px);
        left: 0;
        border: 1px solid $select-dropdown-border;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
        width: 100%;

        .select-item {
            padding: $select-item-padding-y $select-item-padding-x;
            cursor: pointer;
            -webkit-transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
            color: #212529;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:hover {
                background-color: rgba($primary, .25);
            }

            &.is-active {
                color: $primary;
            }

            &.is-disabled {
                color: $select-item-disabled;
                pointer-events: none;
                cursor: default;
            }
        }
    }

}